*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Pokemon-Firered", sans-serif;
}

img{
   image-rendering: pixelated;
   user-select: none;
}

.pokemon-firered-wrapper{
   width: 100%;
   height: 100vh;
}

@font-face {
   font-family: "Pokemon-Firered";
   src: url("/src/assets/fonts/pokemon-firered-font.ttf");
}

@import "/src/pages/pc/PC";
@import "/src/pages/datos/PokeDatos";